// 公共类
.section-title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  letter-spacing: 0;
  font-weight: 800;
  color: #7c7d7d;
  font-size: 1.25rem;
  line-height: 1.2;
  -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, .4));

  span {
    position: relative;
    margin-left: 20px;
    margin-right: 35px;
    display: inline-block;
    height: 1px;
    border-bottom: dotted 2px rgba(225, 225, 235, 0.9);
    width: 100%;

    &:after {
      content: attr(data-number);
      border-radius: 50%;
      position: absolute;
      font-size: 11px;
      font-weight: 600;
      text-align: center;
      color: #7B7B7D;
      opacity: .8;
      width: 15px;
      height: 15px;
      top: -6px;
      right: -35px;
    }
  }
}

.box-title {
  .title-icon {
    font-size: 1.7rem;
    margin-right: 1rem;
  }

}


.c-divider {
  height: 1px;
  border-bottom: dotted 2px rgba(225, 225, 235, 0.9);
  width: 100%;
  margin: 20px 0;
}

.c-mb {
  &-20 {
    margin-bottom: 20px;
  }

  &-40 {
    margin-bottom: 40px;
  }

  &-60 {
    margin-bottom: 60px;
  }
}

.c-mt {
  &-20 {
    margin-top: 20px;
  }

  &-40 {
    margin-top: 40px;
  }

  &-60 {
    margin-top: 60px;
  }
}
